@model SoftwareDevelopmentProject.Models.CustomerPayment

@{
    ViewBag.Title = "PaymentView";
}

@using (Html.BeginForm("ValidationForPay", "Booking", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="card text-dark bg-light mb-3">
        <div class="card-body">
            <h1 class="fas card-title">Make Payment</h1>
        </div>
    </div>

    <br />
    <div class="col-md-2">
        @Html.Partial("UserMenu")
    </div>
    <div class="col-md-10">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cardType, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <select asp-for="cardType" class="form-control" id="cardType" name="cardType">
                    <option value="Master Card" selected>Master Card</option>
                    <option value="Visa" >Visa</option>
                    <option value="American Express">American Express</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="CardType" data-valmsg-replace="true">@ViewBag.ErrorMessage</span>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Card Number", onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", onkeydown = "this.value=this.value.replace(/[^\\d]/,'')", maxlength ="16" } })
                @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Expiry Date MM/YYYY" } })
                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cvv, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.cvv, new { htmlAttributes = new { @class = "form-control", placeholder = "CVV" } })
                @Html.ValidationMessageFor(model => model.cvv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nameOnTheCard, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.nameOnTheCard, new { htmlAttributes = new { @class = "form-control", placeholder = "Name On Card" } })
                @Html.ValidationMessageFor(model => model.nameOnTheCard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.totalamount, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.totalamount, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.totalAmount, @readonly="readonly"} })
                @Html.ValidationMessageFor(model => model.totalamount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input id="reservation_id" name="reservation_id" type="hidden" value=@ViewBag.reservationId />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Pay Now" class="btn btn-default btn-success" />
                <a href="/Booking/ViewReservations" class="btn btn-secondary">Pay Later</a>
            </div>
        </div>
    </div>
</div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
