@model SoftwareDevelopmentProject.Models.reservation

@{
    ViewBag.Title = "ReservationView";
}
@using (Html.BeginForm("PayNow", "Booking", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="card text-dark bg-light mb-3">
        <div class="card-body">
            <h1 class="card-title">Select Date </h1>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Partial("UserMenu")
    </div>
    <div class="col-md-10">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-2 text-right"><label for="sportName" class="form-label">SPORT NAME</label></div>
            <div class="col-md-10">
                <input type="text" id="sportName" name="sportName" class="form-control" value=@ViewBag.sportName disabled readonly>
                <input type="hidden" name="sportId" id="sportId" value=@ViewBag.sportId /> 
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datetime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datetime, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        type = "date",
                        min = @DateTime.Now.ToString("yyyy-MM-dd"),
                        max = @DateTime.Now.AddDays(90).ToString("yyyy-MM-dd")

                    }
                 })
                @Html.ValidationMessageFor(model => model.datetime, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">

            <div class="col-md-2 text-right"><label for="sportAmount" class="form-label">TOTAL COST</label></div>
            <div class="col-md-10">
                <input type="text" id="sportAmount" name="sportAmount" class="form-control" value=@ViewBag.SportAmount readonly>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Book Sport" class="btn btn-default" />
            </div>
        </div>

    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
