@model IEnumerable<SoftwareDevelopmentProject.Models.Sport>

@{
    ViewBag.Title = "Book a sport";
}

<h2>ViewAllSports</h2>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p> -->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sport_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sport_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sport_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency_id)
        </th>
        <th>
             Operation
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sport_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sport_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sport_rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currency_id)
            </td>
            <td>
                <!--  @Html.ActionLink("BOOK THIS SPORT", "Edit", new { id = item.sport_id }) -->

                @Html.ActionLink(linkText: "BOOK THIS SPORT", actionName: "BookingASport", controllerName: "Booking", routeValues: new { id = item.sport_id },
                 htmlAttributes: null)


                <!--   @Html.ActionLink("Details", "Details", new { id = item.sport_id })
    @Html.ActionLink("Delete", "Delete", new { id = item.sport_id }) -->
            </td>
        </tr>
    }

</table>
